{% if user.is_authenticated %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout &nbsp:&nbsp{{ request.user.username }}</button>
</form>


<h1>Upload File</h1>
<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_table }}
    <h1>Files</h1>




{% for file in expected_files_all %}


<h3>

    {% if file in uploaded_files_names %}

    <span style="color: #00BFFF;"> ✔ &nbsp {{ file }} - File already uploaded </span>
    {% endif %}


    {% if file not in uploaded_files_names %}
    <span style="color: #00BFFF;">○ &nbsp {{ file }} - File not uploaded </span>
    {% endif %}


</h3>
{% endfor %}





    {% if form.errors %}

    <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}


    <button type="submit">Upload</button>
</form>

{% else %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
{% endif %}